body {
    background-color: #333652;
}

#domadagr_header {
    color: #fad02c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header_form {
    display: flex;
    align-items: center;
    justify-content: center;

}

#search {
    background-color: #90adc6;
}

button {
    background-color: #90adc6;
}

#map_border {
    background-color: #90adc6;

}

#map { height: 480px; }

.header_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fad02c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header_row > div {
    padding: 5px;
}